node_modules/
.env
.env.local
.env.*.local
dist/
build/
.next/
out/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
.parcel-cache
.eslintcache
.turbo
*.pem
uploads/
.env.production.local
.vercel
.idea/
.vscode/
*.swp
*.swo
*~
